.vscode
charts
docs

# Vendor folders
/vendor/cloud.google.com/*
/vendor/github.com/*
/vendor/golang.org/*
/vendor/google.golang.org/*
/vendor/gopkg.in/*
/vendor/k8s.io/*

!/vendor/github.com/equinor

.git
bin
Makefile
charts