# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor
vendor/github.com/statoil/radix-operator/pkg/version/version.go
vendor/github.com/statoil/radix-operator/pkg/apis/radix/register.go
vendor/github.com/statoil/radix-operator/pkg/apis/radix/v1/doc.go
vendor/github.com/statoil/radix-operator/pkg/apis/radix/v1/radixapptypes.go
vendor/github.com/statoil/radix-operator/pkg/apis/radix/v1/radixdeploytypes.go
vendor/github.com/statoil/radix-operator/pkg/apis/radix/v1/radixregistrationtypes.go
vendor/github.com/statoil/radix-operator/pkg/apis/radix/v1/register.go
vendor/github.com/statoil/radix-operator/pkg/apis/radix/v1/zz_generated.deepcopy.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/clientset.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/doc.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/fake/clientset_generated.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/fake/doc.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/fake/register.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/scheme/doc.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/scheme/register.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/doc.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/generated_expansion.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/radix_client.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/radixapplication.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/radixdeployment.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/radixregistration.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/fake/doc.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/fake/fake_radix_client.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/fake/fake_radixapplication.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/fake/fake_radixdeployment.go
vendor/github.com/statoil/radix-operator/pkg/client/clientset/versioned/typed/radix/v1/fake/fake_radixregistration.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/factory.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/generic.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/radix/interface.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/radix/v1/interface.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/radix/v1/radixapplication.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/radix/v1/radixdeployment.go
vendor/github.com/statoil/radix-operator/pkg/client/informers/externalversions/radix/v1/radixregistration.go
vendor/github.com/statoil/radix-operator/pkg/client/listers/radix/v1/expansion_generated.go
vendor/github.com/statoil/radix-operator/pkg/client/listers/radix/v1/radixapplication.go
vendor/github.com/statoil/radix-operator/pkg/client/listers/radix/v1/radixdeployment.go
vendor/github.com/statoil/radix-operator/pkg/client/listers/radix/v1/radixregistration.go
