# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor

debug
swaggerui/statik.go
swaggerui_src/swagger.json
./certs/key.pem
./certs/cert.pem
/.idea/