# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor/cloud.google.com/*
/vendor/github.com/*
/vendor/golang.org/*
/vendor/google.golang.org/*
/vendor/gopkg.in/*
/vendor/k8s.io/*

/.vendor-new/*

!/vendor/github.com/equinor

debug
swaggerui/statik.go
swaggerui_src/swagger.json

# Ignore resources in operator not relevant for building
vendor/github.com/equinor/radix-operator/radix-operator/common/queueitem.go
vendor/github.com/equinor/radix-operator/.dockerignore
vendor/github.com/equinor/radix-operator/.gitignore
vendor/github.com/equinor/radix-operator/Gopkg.lock
vendor/github.com/equinor/radix-operator/Gopkg.toml
vendor/github.com/equinor/radix-operator/Makefile
vendor/github.com/equinor/radix-operator/README.md
vendor/github.com/equinor/radix-operator/VERSION
vendor/github.com/equinor/radix-operator/operator.Dockerfile
vendor/github.com/equinor/radix-operator/pipeline.Dockerfile
vendor/github.com/equinor/radix-operator/artifacts/sample-ra.yaml
vendor/github.com/equinor/radix-operator/artifacts/sample-rd.yaml
vendor/github.com/equinor/radix-operator/charts/.gitignore
vendor/github.com/equinor/radix-operator/charts/radix-operator/.helmignore
vendor/github.com/equinor/radix-operator/charts/radix-operator/Chart.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/values.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/NOTES.txt
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/_helpers.tpl
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/deployment.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/radix-config.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/radix-docker.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/radix-known-hosts-git.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/radix-roles.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/radixapplication.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/radixdeployment.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/radixregistration.yaml
vendor/github.com/equinor/radix-operator/charts/radix-operator/templates/rbac.yaml
vendor/github.com/equinor/radix-operator/docs/pipelines.md
vendor/github.com/equinor/radix-operator/docs/radixconfig.md
vendor/github.com/equinor/radix-operator/docs/radixregistration.md
vendor/github.com/equinor/radix-operator/hack/codegen.sh
vendor/github.com/equinor/radix-operator/pipeline-runner/main.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/app.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/app_test.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/build.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/build_test.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/deploy.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/deploy_test.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/imageutil.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/pipelinestestutil.go
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/testdata/radixconfig.yaml
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/testdata/radixconfig.env-branch.yaml
vendor/github.com/equinor/radix-operator/pipeline-runner/pipelines/testdata/radixconfig.variable.yaml
vendor/github.com/equinor/radix-operator/radix-operator/Dockerfile
vendor/github.com/equinor/radix-operator/radix-operator/main.go
vendor/github.com/equinor/radix-operator/radix-operator/common/controller.go
vendor/github.com/equinor/radix-operator/radix-operator/common/controller_test.go
vendor/github.com/equinor/radix-operator/radix-operator/common/handler.go
vendor/github.com/equinor/radix-operator/radix-operator/deployment/controller.go
vendor/github.com/equinor/radix-operator/radix-operator/deployment/handler.go
vendor/github.com/equinor/radix-operator/radix-operator/deployment/handler_test.go
vendor/github.com/equinor/radix-operator/radix-operator/deployment/testdata/radixdeploy.yaml
vendor/github.com/equinor/radix-operator/radix-operator/registration/controller.go
vendor/github.com/equinor/radix-operator/radix-operator/registration/controller_test.go
vendor/github.com/equinor/radix-operator/radix-operator/registration/handler.go
vendor/github.com/equinor/radix-operator/radix-operator/registration/handler_test.go
vendor/github.com/equinor/radix-operator/radix-operator/registration/testdata/sampleregistration.yaml
vendor/github.com/equinor/radix-operator/radix-operator/test/utils.go
vendor/github.com/equinor/radix-operator/radix-operator/utils/testutils.go
